---
import "../styles/main.scss";
import Image from "astro/components/Image.astro";
import Computerframe from "../images/computer.png";
import slide1 from "../images/03.png";
import slide2 from "../images/06.png";

const framedImages = [
  {
    src: slide1,
    alt: "slide1",
    width: 1535,
    height: 955,
    class: "slide-image",
  },
  {
    src: slide2,
    alt: "slide2",
    width: 1535,
    height: 955,
    class: "slide-image",
  },
];
---

<div class="top">
  <nav class="hdr">
    <ul>
      <li>
        <a href="#about">Why</a>
      </li>
      <li>
        <a href="#portfolio">Organisations</a>
      </li>
      <li>
        <a href="#faq">FAQ</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <h1>Top Box</h1>
</div>
<div class="middle">
  <h1>Middle Box</h1>
  <div class="image-wrapper">
    <div class="image-frame">
      <Image src={Computerframe} alt="Computer Frame" />
    </div>
    {
      framedImages.map((image) => (
        <Image
          src={image.src}
          alt={image.alt}
          width={image.width}
          height={image.height}
          class={image.class}
        />
      ))
    }
  </div>

  <div class="curved-border">
    <svg class="curve" viewBox="0 0 1440 133" preserveAspectRatio="none">
      <g>
        <path
          id="path-1"
          d="M-0,72s180-36.13230792814181 360-0 180-136.8176787775407 360-0 180-111.71350672592155 360-0 180-16.099548216277995 360-0 V144H-1440Z"
          fill="#425E5E"></path>
        <path
          id="path-2"
          d="M-0,72s180-111.8581060065802 360-0 180-15.871579969997365 360-0 180-129.00900851770052 360-0 180-123.53614958975476 360-0 V144H-1440Z"
          fill="#425E5E"
          style="opacity: 0;"></path>
      </g>
    </svg>
  </div>
  <div class="bottom">
    <h1>Bottom Box</h1>
    <div class="pure-g box-wrapper">
      <div class="box box1 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">1</div>
      <div class="box box2 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">2</div>
      <div class="box box3 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">3</div>
      <div class="box box4 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">4</div>
      <div class="box box5 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">5</div>
      <div class="box box6 pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-6">6</div>
    </div>
  </div>
  <div class="foot">
    <h1>Footer Box</h1>
    <div class="faq-wrapper">
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">What can I validate?</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            You have access to over 100 validation modules ranging from a simple
            duplicate check, “no contact allowed” checks (Robinson/Nix
            list/Reservasjonsregister), active e-mail and telephone check to
            more advanced checks towards public registries and scores using
            advanced algorithms.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">What can I enrich my data with?</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            You can enrich your data with over 200 different demographic
            variables ranging from gender enrichment to probability of number of
            persons in a household and much more.
          </h5>
        </div>
      </div>
    </div>

    <style lang="scss">
      body {
        margin: 0;
      }
      .top {
        text-align: center;
      }
      nav {
        & ul {
          display: flex;
          justify-content: space-between;
          width: 30%;
          min-width: 300px;
          list-style-type: none;
          margin: 0 auto;
          & li a {
            color: var(--pure-neutral-dark);
            text-decoration: none;
            font-weight: 600;
            &:hover {
              color: var(--pure-accent-teal);
              text-decoration: underline;
            }
          }
        }
      }
      .image-wrapper {
        position: relative;
        margin: auto;
        width: 80%;
        & .image-frame {
          text-align: center;
          > img {
            max-width: 80%;
            max-height: fit-content;
          }
        }

        & .slide-image {
          max-width: 80%;
          max-height: fit-content;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
      }
      .curved-border {
        position: relative;
        background: var(--pure-secondary-bg);
        padding-bottom: 8rem;
      }
      .curve {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 132px;
        color: var(--pure-primary-bg);
      }
      .top,
      .middle,
      .bottom,
      .foot {
        background: var(--pure-accent-grey);
        padding-top: 2em;
        min-height: 400px;
        margin: 0;
        > h1 {
          text-align: center;
        }
      }
      .middle {
        background: var(--pure-accent-light-green);
      }
      .bottom {
        background: var(--pure-accent-green);
      }
      .box {
        padding: 40px;
        margin: 20px;
        background: var(--pure-accent-grey);
        // opacity: 0;
      }
      .box-wrapper {
        justify-self: center;
        flex-flow: unset;
      }
      .foot {
        background: var(--pure-accent-teal);
        min-height: 600px;
        padding: 3em 10%;
      }
      .faq {
        opacity: 0;
      }
      .question-header {
        font-size: 1.2em;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        outline: none;
        text-align: left;
        width: 100%;
        > svg {
          align-self: center;
        }
        & h5 {
          margin-left: 0.5em;
          font-family: "Montserrat", sans-serif;
        }
      }
      .faq .question-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }
      .faq.active .question-content {
        max-height: 500px;
      }
      .faq.active .question-header > svg {
        transform: rotate(45deg);
        transition: transform 0.3s ease;
      }
      h5.answer {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        font-weight: normal;
        margin-top: 0.5em;
        color: var(--pure-neutral-light);
        line-height: 1.5em;
        // display: none;
        // & .active {
        //   display: block;
        // }
      }
    </style>
    <script>
      import { onScroll, animate, svg, utils, stagger, linear } from "animejs";

      function animateHeader() {
        animate(".hdr", {
          y: [0, 40],
          // scale: [0, 1],
          ease: "InOutExpo",
          // delay: stagger(50, {
          //   start: 100,
          // }),
          autoplay: onScroll({
            // sync: 1,
            sync: "play reset play reset",
            // enter: "bottom-=50 top",
            // leave: "top+=60 bottom",
            // debug: true,
            enter: "bottom top",
            leave: "top bottom",
          }),
        });
      }
      animateHeader();

      const [$path1, $path2] = utils.$("path");
      function animateCurve() {
        // Morph #path-1 into #path-2
        animate($path1, {
          d: svg.morphTo($path2),
          ease: linear(0, "0.5 50%", "0.7 75%", 1),
          duration: 3000,
          // loop: true,
          alternate: true,
          autoplay: onScroll({
            container: "curved-border",
            sync: true,
            enter: "max bottom",
            leave: "min top",
            // debug: true,
          }),
        });
      }
      animateCurve();

      function animateImagesSequentially() {
        animate(".slide-image", {
          // Select all images
          opacity: [0, 1], // Animate from opacity 0 to 1
          duration: 1000, // Duration of each individual fade in (ms)
          delay: stagger(5000, { start: 100 }),
          ease: "easeInOutQuad",
          loop: true, // Loop the animation
          direction: "alternate", // Reverse the animation back
          // Optionally, add a loop delay or other properties
          loopDelay: 5000,
        });
      }
      animateImagesSequentially();

      function animateGrid() {
        animate(".box", {
          y: [-100, 0],
          scale: [0, 1],
          ease: "InOutExpo",
          delay: stagger(20, {
            start: 50,
          }),
          autoplay: onScroll({
            sync: "play pause pause reset",
            enter: "bottom-=50 top",
            leave: "top+=60 bottom",
          }),
        });
      }
      animateGrid();

      function animateFAQ() {
        animate(".faq", {
          y: [50, 0],
          opacity: [0, 1],
          // scale: [0, 1],
          // ease: "InOutExpo",
          delay: stagger(500, {
            start: 500,
          }),
          autoplay: onScroll({
            sync: "play pause pause reset",
            enter: "bottom-=50 top",
            leave: "top+=60 bottom",
          }),
        });
      }
      animateFAQ();

      // // FAQ Accordion
      document.addEventListener("click", (e) => {
        const button = (e.target as Element).closest(".question-header");
        if (button) {
          const accordionItem = button.closest(".faq");
          console.log("closest faq: ", accordionItem);
          console.log(button);
          const allItems = document.querySelectorAll(".faq");

          allItems.forEach((item) => {
            if (item !== accordionItem) {
              item.classList.remove("active");
            }
          });

          accordionItem.classList.toggle("active");
          console.log(accordionItem.classList);
        }
      });
    </script>
  </div>
</div>
